{% extends 'base.html' %}
{% load staticfiles %}

{% block doctype %}{% endblock %}

{% block main %}

<body>
<div id="content">
	<a id="col1"></a>
	<a id="col2"></a>
	<a id="col3"></a>
	<a id="col4"></a>
	<a id="col5"></a>
</div>

<h1>High Scores</h1>

<ul>
{% for player in object_list %}
    <li>{{ player.user.first_name }} {{ player.user.last_name }} has high score {{ player.high_score }} and has played {{ player.games_played }} times.</li>
{% empty %}
    <li>No players have registered yet.</li>
{% endfor %}
</ul>
<div class="bodyContent">
<a href="{% url 'home' %}" class="button">Home</a>
</div>
{% endblock %}