{% extends 'base.html' %}
{% load staticfiles %}

{% block doctype %}{% endblock %}

{% block main %}

<body>
<div id="content">
	<a id="col1"></a>
	<a id="col2"></a>
	<a id="col3"></a>
	<a id="col4"></a>
	<a id="col5"></a>
</div>



<h1>&nbsp;&nbsp;&nbsp;&nbsp;High Scores</h1>

<div class="bodyContent">
<ul>
{% for player in object_list %}
    <li style="padding:0.25em; text-align:center; font-size: 1.2em;">{{ player.user.first_name }} {{ player.user.last_name }} has has played {{ player.games_played }} time{{ player.games_played|pluralize }} and a high score == {{ player.high_score }}</li>
{% empty %}
    <li style="text-align:center; font-size: 1.5em;">No players have registered yet.</li>
{% endfor %}
</ul>
<P>
<a href="{% url 'home' %}" class="button">Home</a>
</P>
</div>
{% endblock %}