{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
 <div id="intro">
 <H1>
 {% if user and not user.is_anonymous %}
 	Welcome to Simon Says
 {% else %}
 	Simon Says - "Log In!"
 {% endif %} 
 </H1>


   {% if user and not user.is_anonymous %}
       <P class="subnmote">Hello {{ user.get_full_name|default:user.username }}!</P>
       <div class="bodyContent">
			<p>I'll play a melody, and you play it back. Ready?</p>
			<div class="controls"></div>
			<a href="#" id="start" class="button">Start!</a>
			<a href="{% url 'auth:logout' %}?next={{ request.path }}" class="button">Logout</a>
		</div>
   {% else %}
     <div class="bodyContent">
     <P>
       <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="button">Fbook</a>
       <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="button">Google</a>
       <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="button">Twitter</a>
     </P>
     </div>
   {% endif %}
   </div>
 </div>

    <div id="content">
		<a id="col1"></a>
		<a id="col2"></a>
		<a id="col3"></a>
		<a id="col4"></a>
		<a id="col5"></a>
	</div>

	<div id="endScreen">
		<h2>GREAT WORK!</h2>
		Final score: <span id="finalScore">0</span>
		<a href="#" id="reset" class="button">Reset</a>
		<a href="{% url 'auth:logout' %}?next={{ request.path }}" class="button">Logout</a>
	</div>

	<div id="ctrl">
		<div class="topbar"></div>
		<div id="score"><span class="title">Score:</span> <span id="scoreNumber">0</span></div>
	</div>

  <script type="text/javascript" src="{% static "js/Loader.js" %}"></script>
  <script type="text/javascript" src="{% static "js/Event.js" %}"></script>
  <script type="text/javascript" src="{% static "js/MIDI.js/js/DOMLoader.script.js" %}"></script>
  <script type="text/javascript" src="{% static "js/MIDI.js/js/DOMLoader.XMLHttp.js" %}"></script>
  <script type="text/javascript" src="{% static "js/MIDI.js/js/MIDI.Player.js" %}"></script>
  <script type="text/javascript" src="{% static "js/MIDI.js/js/MIDI.Plugin.js" %}"></script>
  <script type="text/javascript" src="{% static "js/MIDI.js/js/MIDI.audioDetect.js" %}"></script>
  <script type="text/javascript" src="{% static "js/MIDI.js/js/MIDI.loadPlugin.js" %}"></script>
  {% autoescape off %}  
  <script type="text/javascript" src="{% static "js/global.js" %}?date=2012-03-20"></script>
  {% endautoescape %}
  <script src="{% static "js/MIDI.js/js/VersionControl.Base64.js" %}" type="text/javascript"></script>
  <script src="{% static "js/MIDI.js/js/lib/base64binary.js" %}" type="text/javascript"></script>
{% endblock %}