{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>HTML5 Simon Says Inspired Memory Game</title>
  <META NAME="description" CONTENT="Simon says simulator. Enjoy a free memory game in your browser.">
  <META NAME="keywords" CONTENT="game, color, memory, sound">

  <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="screen" />

  <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="http://local.colrd/inc/css/ie9.css?v=1327094253" media="screen">
  <![endif]-->

  <meta http-equiv="X-UA-Compatible" content="chrome=1">

</head>
 <body>
   {% block main %}{% endblock %}

  {% block scripts %}
  {% endblock %}
  
 </body>
</html>